<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'onlinecourse/course.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Online Courses</title>
</head>
<body>
<!--Nav BAR-->
<nav class="navbar navbar-light bg-ligth">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Online Course</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
                <a href="#" class="btn btn-link">{{ user.first_name }}({{ user.username}})</a>
                <a href="{% url 'onlinecourse:logout' %}" class="btn btn-link">Logout</a>
            </li>
            {% else %}
            <li>
                <form action="{% url 'onlinecourse:login' %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" name="username">
                        <input type="password" class="form-control" placeholder="Password" name="psw" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a href="{% url 'onlinecourse:registration' %}" class="btn btn-link">Sign Up</a>
                    </div>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!--Authentication section-->
<h2>Popular courses list</h2>
<hr>
{% if course_list %}
    <ul>
    {% for course in course_list %}
        <div class="container">
          <div class="row">
              <div class="column-33">
                <img src="{{MEDIA_URL}}/{{ course.image }}" width="360" height="360" >
            </div>
            <div class="column-66">
                <h1 class="xlarge-font"><b>{{ course.name }}</b></h1>
                <p style="color:MediumSeaGreen;"><b>{{course.total_enrollment}} enrolled</b></p>
                <p> {{ course.description }}</p>
                <form action="{% url 'onlinecourse:enroll' course.id %}" method="post">
                    {% csrf_token %}
                <input class="button"  type="submit"  value="Enroll">
              </form>
            </div>
          </div>
        </div>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No courses are available.</p>
{% endif %}
</body>
</html>